body {
  background-color: #333;
  color: #fff;
}

.processing-queries-page {
  margin-left: 220px;
  padding: 20px;
}

.page-header {
  margin-bottom: 20px;
}

.query-buttons {
  margin-bottom: 20px;
}

.query-result {
  text-align: center;
}