@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box; /* Makes sure padding and border are included in all width/height calculations */
  margin: 0;
  padding: 0;
}

.inventory-page .content {
  width: 100%; /* Full width of its container */
  max-width: 1200px; /* Maximum width of the container */
  margin: 0 auto; /* Centering the content horizontally */
  padding: 20px; /* Padding around the content */
  padding-top: 100px; /* Space at the top to avoid overlapping with a fixed header */
}

.food-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distributes space between items */
  gap: 20px; /* Space between each item */
}

.food-item {
  flex-basis: calc(33.333% - 20px); /* Width of each item, adjusting for gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
}

.food-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  color: white;
}

.food-item button {
  margin-top: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.food-item button:hover {
  background-color: gray;
}

.details-table {
  background: black;
  padding: 15px;  /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 20px;
  width: 70%;  /* Smaller width */
  max-width: 500px;  /* Reduced max width */
  margin: 20px auto; /* Centers the details table */
  display: flex;
  flex-direction: column;
}

.details-table input {
  width: 100%;
  padding: 8px;  /* Smaller padding */
  margin-bottom: 10px; /* Reduced space between input fields */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;  /* Smaller font size */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.details-table button {
  padding: 8px 16px;  /* Smaller button */
  background-color: white; /* Green background for buttons */
  color: black;
  font-size: 14px; /* Smaller font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-end; /* Aligns the Save button to the right */
}

.details-table button:hover {
  background-color: grey; /* Darker green on hover */
}

.delete-all-button-container {
  display: flex;
  justify-content: center;  /* Centers the button horizontally */
  margin: 20px 0;  /* Adds space above and below the button */
}

.delete-all-button {
  padding: 10px 20px;  /* Adequate padding for visual comfort */
  background-color: black;  /* Neutral, strong background color */
  color: white;  /* Contrast for readability */
  font-size: 16px;  /* Clearly readable text size */
  border: none;  /* Cleaner look without borders */
  border-radius: 5px;  /* Softened corners */
  cursor: pointer;  /* Indicates that the element is clickable */
  transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.delete-all-button:hover {
  background-color: gray;  /* Subtle change on hover */
}

